[Unit]
Description=SRK Socket Server
After=network.target

[Service]
Restart=always
RestartSec=5
User=nobody
Group=nogroup
StartLimitIntervalSec=60
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
